name: Lint Arduino Library

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Arduino Lint
        uses: arduino/arduino-lint-action@v2
        with:
          compliance: specification
          library-manager: update
          project-type: library
          path: ./   # <-- lint the local library folder
